* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  .header {
    display: flex;
    /* Defines how to distribute the empty space between child elements */
    justify-content: space-between;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #000000;
    color: #ffffff;
}
.header h1 {
    display: inline-block;
    font-size: 35px;
    height: 5px;
}

.header nav {
    padding-top: 20px;
    margin-right: 35px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}

.header nav ul {
    list-style-type: none;
    background-color: #000000;
}

.header nav ul li {
    display: inline-block;
    margin-left: 30px;
    font-size: 25px;
    color: #ffffff;
  
}
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 20px;
}
.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/sakura1.jpg");
    background-size: cover;
    background-position: center;
}
main {
    /* Turns this element into a flexbox */
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }

.card {
    /* A flex-basis of 200px sets the starting width */
    /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }
  img { 
    opacity: 0.7; 
  } 
  
  img:hover { 
    opacity: 1; 
  }