* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  .header {
    display: flex;
    /* Defines how to distribute the empty space between child elements */
    justify-content: space-between;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #000000;
    color: #ffffff;
}
.header h1 {
    display: inline-block;
    font-size: 35px;
    height: 5px;
}

.header nav {
    padding-top: 20px;
    margin-right: 35px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}

.header nav ul {
    list-style-type: none;
    background-color: #000000;
}

.header nav ul li {
    display: inline-block;
    margin-left: 30px;
    font-size: 25px;
    color: #ffffff;
  
}
.header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 20px;
}
.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/sakura1.jpg");
    background-size: cover;
    background-position: center;
}

  article {
    display: flex;
    justify-content: space-around
  }
  article h1 {
    display: flex;
    width: 100px;
    padding: 20px; 
    border-right: 1px black solid;
  } 

  article h2 {
    width: 200px;
    padding: 20px; 
    border-right: 1px black solid;
  } 

  article div {
    padding: 20px;
  }

.card {
    /* A flex-basis of 200px sets the starting width */
    /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
    flex: 1 0 200px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
  }
  img { 
   opacity: 0.7; 
   border: solid black;
  } 
  
:hover { 
    opacity: 1; 
  }

  .rowOnePortfolio {
    display: flex;
    align-content: space-between
  }
  .rowtwoPortfolio {
    display: flex;
    align-content: space-between
  }

  footer ul li a {
    color: black;
  }
.images {
  flex-direction: column;
}

footer h2 {
  display: flex;
  width: 150px;
  padding: 20px; 
  border-right: 1px black solid;
}
.contact {
  display: flex;
}
footer div ul li {
  display: inline;
  font-size: 25px;
  padding: 40px;
  text-align: center;
  margin-left: 100px;
}